header h1{
    text-align: center;
    color: #0f00f0
}

.todo-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  li span {
    margin-right: 10px;
  }
  
  li button {
    padding: 2px 5px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  footer p{
    text-align: center;
    font-size: 12px;
  }